@import './styleAssets.module.scss';

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;/* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
        sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $PrimaryBackgroundColor;
    
    color: $TextColor;
    height: 100vh;
    width: 100vw;
}

    code {
    font-family: 'Source Sans Pro', sans-serif; /*  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace; */ 
}
